@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;

}

main section img{
    box-sizing: border-box;
}

header {
    background-color: #EE964B;
    color: #F6F7EB;
    display: grid;
    grid-template-columns: 150px auto;

}

header::backdrop{
    opacity: .6;
}

.logo {
    width: 80px;
    padding-top: 5px;
    opacity: 1;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

body {
    background-color: #F6F7EB;
    color: #2D3F4C;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2{
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;

}
nav a {
    text-align: center;
    color: #2D3F4C;
    text-decoration: none;
    padding: 35px;

}

nav a:hover {
    background-color: #F95738;
    color: #F6F7EB;
    opacity: 1;
}

.home-title {
    /*color: #F6F7EB;*/
    /*color:#2D3F4C;*/
    /*color: white;*/
    font-size: 2em;
    margin-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Courgette", serif, Helvetica;
}

p{
    font-family: "Roboto", Helvetica, sans-serif;
}

h4 {
    color: #2D3F4C;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#background {
    height: 725px;
    /*background-color: #025883;*/
    background-color: #EE964B;
    grid-column: 1/11;
    grid-row: 4/9;
}

.book, .join {
    background-color: #EE964B;
    color: #2D3F4C;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #F95738;
    color: #F6F7EB;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

.card-img{
    border: 10px solid #025883;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    background-color: #025883;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #F6F7EB;
    padding-bottom: 15px;
}

.msg p {
    color: #F6F7EB;
}

footer {
    /*background-color: #025883;
    color: #F6F7EB; */
    background-color: #EE964B;
    color:#2D3F4C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #2D3F4C;
    text-decoration: none;
}

footer a:hover {
    background-color: #F95738;
    color: #F6F7EB;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;

}

/* FAQ page specific CSS below */

#hero-faq {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#faq-hero-box {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#faq-hero-img {
    width: 100%;
}

#hero-faq-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-faq-msg h1, #hero-faq-msg h4{
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.faq-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.question{
    grid-column: 1/8;
    padding-left: 50px;
}

.answer{
    grid-column: 2/8;
}

.question-img{
    grid-column: 1/6;
    padding-right: 50px;
}

.answer-img{
    grid-column: 2/6;
    padding-right: 50px;
}

#faq-waterfall{
    grid-column: 6/9;
    grid-row: 6/10;
    
}

#faq-river{
    grid-column: 6/9;
    grid-row: 8/11;
    padding-top: 100px;
}
    
.faq-button-box {
    text-align: center;
    grid-column: 4/6;
    padding-top: 100px;
}

/*  Mobile device CSS below */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}